.remodal-overlay {
    z-index: 10000 !important;
}


.issue-message {
    top:200px;
    background-image: url("./images/messageme.png");
}
.issue-call {
    top:310px;
    background-image: url("./images/callme.png");
}
.issue-call, .issue-message {
    position: fixed;
    right: 10px;
    cursor: pointer;
    width: 100px;
    height: 100px;

    z-index: 100;

    opacity: 0.5;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.issue-call:hover, .issue-message:hover {
    opacity: 1;
}

.phone-call {
    color: #333;
    cursor: pointer;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.phone-call:hover {
    color: #c50007;
    text-decoration: none;
}